*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
#gameover{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.76);
    z-index: 999;
    color: #fff;
}
button{
    font-size: 20px;
    padding: 15px 30px;
    background-color: aqua;
    border-radius: 30px;
    transition: .6s all;
}
button:hover{
    box-shadow: 0 0 5px black;
    background-color: black;
    color: white;
}
.btn{
    position: absolute;
    bottom: 50%;
    left: 5%;
}
.cloud{
    background: url("../images/cloud.gif") no-repeat fixed center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    filter: opacity(.3);
    /* display: none; */
}
.path{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}
.path img{
    position: absolute;
    right: 34%;
    bottom: 0;
    height: 130px;
    background-color: #fff;
}
.bground{
    width: 100vw;
    height: 100vh;
    background: url("../images/road.png") no-repeat fixed ;
    background-position: right;
    background-size: 70% 100%;
}
.car1 img{
    position: absolute;
    width: 60px;
    right: 27%;
    bottom: 100%; 
    transition: 2s all;
    border: rgba(0, 0, 0, 0.2) .2px solid;
}
.car2 img{
    position: absolute;
    width: 60px;
    right: 38%;
    transition: 2s all;
    bottom: 100%;
    border: rgba(0, 0, 0, 0.2) .2px solid;
}
.car3 img{
    position: absolute;
    width: 60px;
    right: 33%;
    transition: 2s all;
    bottom: 100%;
    border: rgba(0, 0, 0, 0.2) .2px solid;
}
.pcar img{ 
    position: absolute;
    width: 140px;
    right: 29%;
    bottom: 0%;  
    transition: 1s all;
    /* border: rgba(0, 0, 0, 0.2) .2px solid; */
}
.mcar img{
    position: absolute;
    width: 40px;
    right: 29%;
    bottom: 40%; 
    transition: .3s all;
    border: rgba(0, 0, 0, 0.2) .2px solid;
}